body {
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    color: #f0f0f0;
}

h1 {
    text-shadow: 2px 2px 0px #000000;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#mute-button {
    background-color: #3e3e3e;
    color: #f0f0f0;
    border: 2px outset #555;
    padding: 10px;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
    margin-left: 10px;
}

#pokemon-input {
    padding: 10px;
    font-size: 16px;
    border: 2px outset #555;
    border-radius: 0;
    margin-bottom: 20px;
    background-color: #3e3e3e;
    color: #f0f0f0;
    font-family: "Pixelify Sans", sans-serif;
}

#pokemon-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.pokemon-tile {
    width: 100px;
    height: 100px;
    background-color: #3e3e3e;
    border: 2px outset #555;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.pokemon-tile:hover {
    transform: scale(1.05);
}

.pokemon-tile.revealed {
    border: 2px inset #555;
}

.normal { background-color: #a8a878; }
.fire { background-color: #f08030; }
.water { background-color: #6890f0; }
.electric { background-color: #f8d030; }
.ice { background-color: #98d8d8; }
.fighting { background-color: #c03028; }
.ground { background-color: #e0c068; }
.flying { background-color: #a890f0; }
.poison { background-color: #a040a0; }
.grass { background-color: #78c850; }
.psychic { background-color: #f85888; }
.bug { background-color: #a8b820; }
.rock { background-color: #b8a038; }
.ghost { background-color: #705898; }
.dragon { background-color: #7038f8; }
.dark { background-color: #705848; }
.steel { background-color: #b8b8d0; }
.fairy { background-color: #ee99ac; }

.pokemon-tile img {
    max-width: 90%;
    max-height: 90%;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

#feedback {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s;
}